@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0px;
    background-color: #F6F4F3;
    zoom: 0.75;
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 5%;
    padding-right: 20%;
    padding-left: 20%;
    gap: 0.625rem;
    font-family: 'Playfair Display', serif;
}

.explore-header,
.add-header {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.explore-header {
    margin: 3.625rem 0rem 0rem 0rem;
    font-size: 3.125rem;
}

.add-header {
    margin: 0;
}

.input-label {
    align-self: start;
    margin: 0px;
}

textarea {
    resize:none
}

textarea,
input {
    font-family: 'Courier New', Courier, monospace;
}

.film-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-auto-rows: 390px;
    margin: 1.875rem;
    margin-right: 10%;
    margin-left: 10%;
    gap: 10px;
    justify-content: center;
}

.film-title {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-box {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 240px;
    height: 390px;
    border-radius: 20px;
    transition: background-color 0.4s;
    transition: transform 0.4s;
    backface-visibility: hidden;
}

.card-box:hover {
    background-color:#ede7e5;
    cursor: pointer;
    transform: scale(1.01);
}

.card-box:active {
    transform: scale(1);
}

.poster-image {
    width: 200px;
    height: 300px;
}

.film-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 0.25rem;
}

.info-span {
    font-family: 'Montserrat', 'Helvetica neue', Helvetica, sans-serif;
    font-size: 0.70rem;
    font-weight: 300;
    margin-top: 0.1rem;
}

.film-cost {
    font-family: 'Montserrat', 'Helvetica neue', Helvetica, sans-serif;
    margin: 0;
    font-size: 0.70rem;
    font-weight: 300;
}

.content {
    display: flex;
    flex-direction: column;
}

.delete-film-button,
.delete-all-button {
    background-color:tomato;
    margin: 5rem;
}

.delete-film-button:hover,
.delete-all-button:hover {
    background-color:red;
    cursor: pointer;
}

.delete-film-button,
.add-film-modal-button,
.delete-all-button,
.clear-inputs-button,
.add-film-button {
    font-family: 'Montserrat', 'Helvetica neue', Helvetica, sans-serif;
    font-weight: 300;
    align-self: center;
    border-width: 0;
    padding: 0.625rem 0.875rem 0.625rem 0.875rem;
}

.delete-film-button {
    margin: 2rem 0 0 0;
}

.add-film-modal-button,
.clear-inputs-button,
.add-film-button {
    background-color:#d4d4d8;
}

.add-film-modal-button:hover,
.clear-inputs-button:hover,
.add-film-button:hover {
    background-color:#a1a1aa;
    cursor: pointer;
}

.film-info-modal,
.add-film-modal {
    border: 0;
    box-shadow: 0px 0px 2px 2px #a1a1aa;
    min-width: 50%;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    .add-film-modal {
        min-width: 90%;
    }
}

dialog::backdrop {
    background-color: #F6F4F3;
    opacity: 0.6;
}

.add-film-form-buttons {
    display: flex;
    justify-content: space-around;
}

.total-films {
    font-family: 'Montserrat', 'Helvetica neue', Helvetica, sans-serif;
    font-weight: 300;
    margin: 0 0.875rem 0 0.875rem;
}

.film-info-modal {
    cursor: default;
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    padding: 2.5%;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border-style: none;
    padding: 3px 5px 3px 5px;
    transition: background-color 0.4s;
}

.close-button:hover {
    background-color:#d4d4d8;
}

.film-info-modal-container {
    display: flex;
    flex-direction: column;
}

.about-paragraph {
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    margin: 1rem 5rem 1rem 5rem;
}

textarea,
input {
    font-family: 'Courier New', Courier, monospace;
}

.film-modal-title {
    font-family: 'Playfair Display', serif;
}

.film-modal-year {
    font-weight: 300;
    font-size: 1.25rem;
}

